* {
    font-family: "Roboto Serif", serif;
}

/* FONT TESTI */
.font-tit {
    font-family: "Autour One", system-ui;
}

.font-cit {
    font-family: "Great Vibes", cursive;
}

/* VARIABILI */
:root {
    --light-color: #66b100;
    --bottle-color: #027800;
    --green-color: hwb(120 0% 76% / 0.6);
    --lilac-color: #9da6ce;
    --purple-color: #6d77b0;
}

/* COLORI TESTI */
.tx-bottle {
    color: var(--bottle-color);
}

.tx-lilac {
    color: var(--lilac-color);
}

.tx-purple {
    color: var(--purple-color);
}

/* SETTAGGI RIUTILIZZABILI */
.img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;
}

.bottone {
    color: black;
    font-family: "Autour One", system-ui;
    font-style: italic;
    padding: 5px 10px;
    border: 3px solid var(--purple-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    background-image: linear-gradient(0deg, hsla(229, 33%, 71%, .5), white);
}

.bg-color {
    background-image: linear-gradient(45deg, hsla(229, 33%, 71%, 0.5), hsla(231, 30%, 56%, 0.8), hsla(229, 33%, 71%, 0.8), white);
}

.bg-color-contr {
    background-image: linear-gradient(45deg, white, hsla(231, 30%, 56%, 0.8), hsla(229, 33%, 71%, 0.8), hsla(229, 33%, 71%, 0.5));
}

.border_reusable {
    border: var(--purple-color) 3px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    border-radius: 10px;
}

.bottonePiccolo {
    border: 2px var(--purple-color) solid;
    border-radius: 10px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-style: italic;
    font-size: small;
    padding: 3px 4px;
}

.bottonePiccolo:hover {
    background-color: var(--lilac-color);
}

.sfondo {
    background-image: url(./media/assets/sfondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}





/* SECTION NAVBAR */
.navbar {
    height: 100px;
    padding: 0px;
}

.logo {
    max-width: 120px;
    max-height: 120px;
}

.bordo {
    border-top: 2px solid var(--green-color);
    border-bottom: 2px solid var(--green-color);
    padding: 0px;
    margin-top: 0px;
    font-family: "Autour One", system-ui;
}

@media screen and (max-width:991.11px) {
    .bordo {
        border-top: 0px;
        border-bottom: 0px;
    }
}

.navbar-toggler {
    border: 0px;
    border-radius: 0px;
    transition: var(--bs-navbar-toggler-transition);
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.form-control {
    border-top: 2px solid var(--green-color) !important;
    border-bottom: 2px solid var(--green-color) !important;
    border-radius: 0px;
    border-right: 0px;
    border-left: 0px;
    padding: 0px;
    margin-top: 0px;
    background-color: transparent;
}

.form-control:focus {
    color: var(--lilac-color);
    background-color: #fff;
    border-color: var(--lilac-color);
    outline: 0;
    box-shadow: 0 0 0 .2rem var(--lilac-color);
}

.nav-scrolled {
    margin: 0px;
    border: 0px;
    border-radius: 0px;
    box-shadow: 0;
    background-color: rgba(255, 255, 255, 0.8) !important;
}

@media screen and (min-width:992px) {
    .nav-scrolled {
        margin: 5px 110px;
        backdrop-filter: blur(10px);
        border: 3px solid var(--purple-color);
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

.transition {
    transition: 0.5s;
}

.navbar-nav .dropdown-menu {
    border: 1px solid var(--purple-color) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

/* SECTION FOOTER */
.text-footer {
    font-size: 12px;
}





/* HOME PAGE */
.cit {
    background-image: url(./media/assets/citazione.png);
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width:992px) {
    .cit {
        background-image: none;
    }
}

.card {
    height: 580px;
    width: 300px;
    padding: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: var(--bottle-color) solid 3px;
    border-radius: 10px;
}

.iframe {
    width: 400px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;
}

.box-numbers {
    background-image: url(./media/assets/4.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: white;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.sfondo-foto {
    background-image: url(./media/assets/header.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}





/* PAGINA CONTATTI */
.block_contacts {
    margin-top: 180px;
}

.bordo_contacts {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: var(--purple-color) solid 2px;
    border-radius: 5%;
    padding: 20px;
}

.form-control2 {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--lilac-color);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control2:focus {
    color: var(--lilac-color);
    background-color: #fff;
    border-color: var(--lilac-color);
    outline: 0;
    box-shadow: 0 0 0 .2rem var(--lilac-color);
}

.mappa {
    height: 100%;
    width: 100%;
    border: var(--purple-color) solid 2px;
}





/* PAGINA CATALOGO */

.cardArticles {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: var(--purple-color) solid 3px;
    border-radius: 10px;
    padding: 10px;

}

.img-card {
    transition: .5s;
}

.cardArticles:hover>div>.img-card {
    transform: scale(1.3);
}

.position-sticky {
    position: sticky;
    top: 200px;
}

@media screen and (max-width:991px) {
    .position-sticky {
        position: static;
        top: auto;
    }
}

.form-check-input:checked {
    background-color: var(--bottle-color);
    border-color: var(--light-color);
}

.color-point::-webkit-slider-thumb {
    background-color: var(--bottle-color);
}

.color-point::-webkit-slider-thumb:active {
    background-color: var(--light-color);
}
